@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.login-container {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2E282A), to(#EDB88B));
  background-image: linear-gradient(#2E282A, #EDB88B);
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  gap: 1em;
  text-align: center;
  color: antiquewhite;
}

.login-form h3 {
  margin-bottom: 1em;
}

.login-inputs {
  width: 25vw;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.login-btn {
  width: 25vw;
  padding: .5em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

.login-btn:hover {
  opacity: 1;
}

#sign-up-btn {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

@media screen and (max-width: 800px) {
  .login-inputs {
    width: 45vw;
  }
  .login-btn {
    width: 45vw;
  }
}

@media screen and (max-width: 500px) {
  .login-inputs {
    width: 55vw;
  }
  .login-btn {
    width: 55vw;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.register-container {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2E282A), to(#EDB88B));
  background-image: linear-gradient(#2E282A, #EDB88B);
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  gap: 1em;
  text-align: center;
  color: antiquewhite;
}

.register-form h3 {
  margin-bottom: 1em;
}

.register-inputs {
  width: 25vw;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.register-btn {
  width: 25vw;
  padding: .5em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

.register-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .register-inputs {
    width: 45vw;
  }
  .register-btn {
    width: 45vw;
  }
}

@media screen and (max-width: 500px) {
  .register-inputs {
    width: 55vw;
  }
  .register-btn {
    width: 55vw;
  }
}
/*# sourceMappingURL=styles.css.map */